{% extends 'base.jinja' %}
{% block content %}
    <div class="page">
        <div class="page-wrapper">
            <!-- Page header -->
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-1 align-items-center">
                        <div class="col">
                            <p></p>
                            <p></p>
                            <p></p>
                            <h1 class="page-title">
                                Hermes
                            </h1>
                        </div>
                        <p>A single pane of glass approach to static code analysis.</p>
                    </div>
                    <br>
                    {% include 'alerts.jinja' %}
                </div>
            </div>

            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2>
                                Your projects
                            </h2>
                            <p class="small">Sorted by scan date.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page body -->
            <div class="page-body">
                <div class="container-xl">
                    <div class="card">
                        <div class="card-body">
                            <div id="table-default" class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            <button class="table-sort" data-sort="sort-name">Name</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-desc">Description</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-scanned">Last Scanned At</button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-tv">Total vulnerabilities
                                            </button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-uv">Unresolved vulnerabilities
                                            </button>
                                        </th>
                                        <th>
                                            <button class="table-sort" data-sort="sort-view">View</button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-tbody">
                                    {% for data in data_table %}
                                        {% set project = data.0 %}
                                        <tr>
                                            <td class="sort-name">{{ project.title }}</td>
                                            <td class="sort-description">{{ project.short_description }}</td>
                                            <td class="sort-scanned">{{ data.1 }}</td>
                                            <td class="sort-tv">{{ data.2 }}</td>
                                            <td class="sort-uv">{{ data.3 }}</td>
                                            <td class="sort-view"><a href="/projects/{{ project.uuid }}">View</a></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}