{% extends 'base.jinja' %}
{% block title %}Create Project{% endblock %}
{% block content %}
    <div class="page page-center">
        <div class="container container-xl py-4">
            {% include 'alerts.jinja' %}
            <form class="card" method="post" enctype="multipart/form-data">
                {{ csrf_input|safe }}
                <div class="card-header">
                    <h3 class="card-title">Create New Project</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label required">Title</label>
                        <div>
                            <input id="title" name="title" type="text" class="form-control" placeholder="Enter project title">
                            <small class="form-hint">Please enter a descriptive, ideally short title</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <div>
                            <input id="description" name="description" type="text" class="form-control" placeholder="Project description">
                            <small class="form-hint">
                                Describe your project as you wish here
                            </small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Code Scanners</label>
                        <small class="form-hint">
                            Select the scanners you want to use to scan your code.
                        </small><br>
                        <div>
                            {% for interface, id in analysis_interfaces %}
                                <label class="form-check">
                                    <input id="{{ id }}" name="{{ id }}" class="form-check-input" type="checkbox">
                                    <span class="form-check-label">{{ interface }}</span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <p>The follow items are mutually exclusive. Please only provide one of the two</p>
                    <div class="mb-3">
                        <div class="form-label">Project source code</div>
                        <input id="file" name="file" type="file" class="form-control" accept=".zip" />
                        <small class="form-hint">
                            Please provide a zip file containing your projects source code
                        </small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Git URL</label>
                        <div>
                            <input id="git" name="git" type="text" class="form-control" placeholder="https://github.com/Skelmis/Hermes.git">
                            <small class="form-hint">
                                Please provide a git URL to clone from. Currently only supports downloads without
                                authentication
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}