{% extends 'base.jinja' %}
{% block title %}Hermes - {{ project_title }}{% endblock %}
{% block content %}
    <div class="page">
        {% include 'projects/header.jinja' %}
        <div class="page-wrapper">
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title">
                                {{ project_title }} Overview
                            </h2><br>
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page body -->
            <div class="page-body">
                <div class="container-xl">
                    {% include 'alerts.jinja' %}
                    <div class="row row-cards row-deck">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">{{ project.title }}</h3>
                                </div>
                                {% if project.description %}
                                    <div class="card-body">
                                        {{ project.description }}
                                    </div>
                                {% endif %}
                                <div class="card-footer">
                                    Project created <b>{{ profile.localize_dt(project.created_at)|fmt('full') }}</b>
                                    {% if scan %}
                                        <br><br>
                                        <div {% if not is_small %}class="mb-3 col-3"{% endif %}>
                                            <label for="select-scan" class="form-label">Currently showing
                                                vulnerabilities for:</label>
                                            <select type="text" class="form-select" id="select-scan">
                                                {% for val in range(1, total_scans) %}
                                                    {% if val == scan.number %}
                                                        <option value="{{ val }}" selected="selected">Scan {{ val }}</option>
                                                    {% else %}
                                                        <option value="{{ val }}">Scan {{ val }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        Shown scan run at <b>
                                        {{ profile.localize_dt(scan.created_at)|fmt('full') }}</b>
                                    {% else %}
                                        No scan run
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row row-cards">
                        <div class="col-12">
                            <div class="card">
                                <div class="table-responsive">
                                    <table
                                            class="table table-vcenter card-table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="w-25">Title</th>
                                            <th class="w-50">Description</th>
                                            <th class="w-1">Scanner</th>
                                            <th class="w-1">State</th>
                                            <th class="w-1">Exploitability</th>
                                            <th class="w-1">File</th>
                                            <th class="w-1"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for vuln in vulnerabilities %}
                                            <tr>
                                                <td>{{ vuln.title }}</td>
                                                <td class="text-secondary">
                                                    {{ vuln.short_description }}
                                                </td>
                                                <td class="text-secondary">
                                                    {{ vuln.found_by|capitalize }}
                                                </td>
                                                <td class="text-secondary">
                                                    {{ vuln.state|capitalize }}
                                                </td>
                                                <td class="text-secondary">
                                                    {{ vuln.exploitability|capitalize }}
                                                </td>
                                                <td class="text-secondary">
                                                    {{ vuln.code_file }}
                                                </td>
                                                <td>
                                                    <a href="/projects/{{ project.uuid }}/vulnerabilities/{{ vuln.uuid }}">View</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="/static/projects.js" nonce="{{ csp_nonce }}"></script>
{% endblock %}