{% extends 'base.jinja' %}
{% block title %}Hermes - {{ project_title }}{% endblock %}
{% block content %}
    <div class="page">
        {% include 'projects/header.jinja' %}
        <div class="page-wrapper">
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title">
                                {{ project_title }} Overview
                            </h2><br>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page body -->
            <div class="page-body">
                <div class="container-xl">
                    {% include 'alerts.jinja' %}
                    <div class="row row-cards row-deck">
                        <div class="col-12">
                            <div class="card">
                                {% if project.description %}
                                    <div class="card-body">
                                        {{ project.description }}
                                    </div>
                                {% endif %}
                                <div class="card-footer">
                                    <div class="card-body">
                                        <div class="datagrid">
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Project Created At</div>
                                                <div class="datagrid-content">{{ profile.localize_dt(project.created_at)|fmt('full') }}</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Currently Shown Scan</div>
                                                <div class="datagrid-content">Scan #<b>{{ scan.number }}</b></div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Scan Ran At</div>
                                                <div class="datagrid-content">
                                                    {{ profile.localize_dt(scan.created_at)|fmt('full') if scan is not none else "N/A" }}
                                                </div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Scanner Versions Used</div>
                                                <div class="datagrid-content">{{ scan.scanner_versions if scan is not none else "N/A" }}</div>
                                            </div>
                                        </div>
                                        <br>
                                        {% if scan is not none %}
                                            <form action="/projects/{{ project.uuid }}/ui/metadata"
                                                  method="POST"
                                                  enctype="multipart/form-data">
                                                {{ csrf_input|safe }}
                                                <div class="datagrid">

                                                    <div class="datagrid-item">
                                                        <div class="datagrid-title">Select Different Scan</div>
                                                        <select type="text" class="form-select" id="scan_number"
                                                                name="scan_number">
                                                            {% for val in range(1, total_scans) %}
                                                                {% if val == scan.number %}
                                                                    <option value="{{ val }}" selected="selected">
                                                                        Scan {{ val }}</option>
                                                                {% else %}
                                                                    <option value="{{ val }}">Scan {{ val }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="datagrid-item">
                                                        <div class="datagrid-title">⠀</div>
                                                        <div class="datagrid-content">
                                                            <button type="submit" class="btn btn-outline-info">
                                                                Show Selected Scan
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="datagrid-item">
                                                        <div class="datagrid-title">Scan Export Options</div>
                                                        <div class="datagrid-content">Under Construction</div>
                                                    </div>
                                                    <div class="datagrid-item">
                                                        <div class="datagrid-title">Scan Export Options</div>
                                                        <div class="datagrid-content">Under Construction</div>
                                                    </div>
                                                </div>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row row-cards">
                        <div class="col-12">
                            <div class="card">
                                <div class="table-responsive">
                                    <table
                                            class="table table-vcenter card-table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="w-25">Title</th>
                                            <th class="w-50">Description</th>
                                            <th class="w-1">Scanner</th>
                                            <th class="w-1">State</th>
                                            <th class="w-1">Exploitability</th>
                                            <th class="w-1">File</th>
                                            <th class="w-1"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for vuln in vulnerabilities %}
                                            <tr>
                                                <td>{{ vuln.title }}</td>
                                                <td class="text-secondary">
                                                    {{ vuln.short_description }}
                                                </td>
                                                <td class="text-secondary">
                                                    {{ vuln.found_by|capitalize }}
                                                </td>
                                                <td class="text-secondary">
                                                    {{ vuln.state|capitalize }}
                                                </td>
                                                <td class="text-secondary">
                                                    {{ vuln.exploitability|capitalize }}
                                                </td>
                                                <td class="text-secondary">
                                                    {{ vuln.code_file }}
                                                </td>
                                                <td>
                                                    <a href="/projects/{{ project.uuid }}/vulnerabilities/{{ vuln.uuid }}">View</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}